header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10%;
    background-color: #141414;
}

header h1 {
    font-size: 35px;
    color: #D62109;
}

.container-search {
    position: relative;
}

.container-search input {
    width: 170px;
    padding: 5px 15px;
    padding-right: 35px;
    border-radius: 20px;
    border: none;
}

.search {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 20px;
    height: 20px;
}

@media (max-width: 435px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        margin-bottom: 15px;
    }
}